<html>
<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="shout" ng-controller="MainCtrl">
  <div class="container">
    <div id="header" class="text-center">
      <h2>Shout{{2+2}}</h2>
    </div>
    <input type="email" placeholder="email" ng-model="email">
    <input type="password" placeholder="password" ng-model="password">
    <input type="text" placeholder="Full Name" ng-model="name">
    <button ng-click="createUser()">Create User</button>
    <button>Log in</button>


    <p ng-if="message">Message: <strong>{{ message }}</strong></p>
    <p ng-if="error">Error: <strong>{{ error }}</strong></p>


  </div>
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="shout.js"></script>

</body>
</html>
