<div>
  <button ng-click="logOut()" class="btn btn-default pull-right">Log Out</button>
</div>
<div class="well text-center">
	<h3>Welcome {{name}}</h3>
	<h3>User Name: {{userName}}</h3>
	<h3>Email: {{email}}
</div>
<button class="btn btn-primary btn-lg" data-target="#tweetModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span> Tweet</button>

<div id="tweetModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Tweet New Message</h4>
			</div>
			<div class="modal-body">
				<textarea type="text" ng-model="tweet" rows="3" cols="40" class="form-control" placeholder="Enter Message"></textarea>
				<div marked='tweet'></div>
			</div>
			<div class="modal-footer">
				<span ng-class="{redText: 140 - tweet.length < 0}">{{150 - tweet.length}} Characters Left</span>
				<button class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-default" ng-click="submitTweet()" ng-disabled="150 - tweet.length < 0 || !tweet" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-pencil"></span> Tweet</button>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="panel">
		<input type="text" class="form-control" placeholder="Search Tweets" ng-model="tweetSearch">
		<div class="panel-heading"><h4 class="text-center panel-title">Tweets</h4></div>
		<ul class="list-group">
			<li ng-if="tweetsFilter(tweet)" ng-repeat="tweet in tweets | filter:tweetSearch | orderBy: tweet.Time track by $index" class="list-group-item">
				<div class="text-center">
					<button class="btn btn-default btn-sm" ng-click="likeTweet(tweet.Tweet, tweet.Author)" ng-hide="email === tweet.Author">Like</button>
					<span class="h4">Author: {{tweet.Author}}</span>
					<span class="pull-right">{{tweet.Time}}</span>
				</div>
				<h4>{{tweet.Tweet}}</h4>
			</li>
		</ul>
	</div>
</div>

<div class="panel">
	<div class="input-group">
		<input type="text" ng-model="userToFollow" class="form-control" placeholder="User Name to Follow">
		<span class="input-group-btn">
			<button ng-click="followUser()" class="btn btn-primary">Follow</button>
		</span>
	</div>
</div>

<div class="panel">
	<div class="panel-heading"><h4 class="text-center panel-title">{{followingCount}} Follows</h4></div>
	<ul class="list-group">
		<li ng-repeat="people in followingNames" class="list-group-item">
			<h4>{{people}}</h4>
		</li>
	</ul>
</div>


<div class="panel">
	<div class="panel-heading"><h4 class="text-center panel-title">{{followerCount}} Followers</h4></div>
	<ul class="list-group">
		<li ng-repeat="follower in followerNames" class="list-group-item">
			{{follower}}
		</li>
	</ul>
</div>
