<div class="row">
	<div class="well text-center">
		<h4>Welcome {{name}}</h4>
		<h4>User Name: {{userName}}</h4>
		<h4>Email: {{email}}</h4>
		<h4>Phone Number: {{phoneNumber}}</h4>
	</div>
</div>
<div class="row">
	<div class="col-xs-6">
		<div class="input-group">
			<span class="input-group-addon">Search Filter</span>
			<input type="text" class="form-control" placeholder="Search Tweets" ng-model="tweetSearch">
		</div>
	</div>
		<button class="btn btn-primary btn-lg" data-target="#tweetModal" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span> Tweet</button>
</div>

<div id="tweetModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			  <h4 class="modal-title" id="myModalLabel">Tweet New Message</h4>
			</div>
			<div class="modal-body">
				<textarea type="text" ng-model="tweet" rows="3" cols="40" class="form-control" placeholder="Enter Message"></textarea>
			</div>
			<div class="modal-footer">
				<span ng-class="{redText: 140 - tweet.length < 0}">{{150 - tweet.length}} Characters Left</span>
				<button class="btn btn-default" data-dismiss="modal">Close</button>
				<button class="btn btn-default" ng-click="submitTweet()" ng-disabled="150 - tweet.length < 0 || !tweet" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-pencil"></span> Tweet</button>
			</div>
		</div>
	</div>
</div>

<div>
	<div class="panel">
		<div class="panel-heading"><h4 class="text-center panel-title">Tweets</h4></div>
		<ul class="list-group">
			<li ng-show="tweetsFilter(tweet)"  ng-repeat="tweet in tweets | filter:tweetSearch | orderBy: tweet.Time track by $index" class="list-group-item">
				<div class="text-center tweet-heading">
					<span class="h4">Author: {{tweet.Author}}</span>
					<span class="pull-right">{{tweet.Time}}</span>
				</div>
				<span class="h4">{{tweet.Tweet}}</span>
					<a href="#/messageboard" ng-click="likeTweet(tweet.Tweet, tweet.Author)" ng-hide="email === tweet.Author"><i class="fa fa-thumbs-o-up fa-2x"></i></a>
			</li>
		</ul>
	</div>
</div>
