<form>
	<label>Full Name</label>
	<input type="text" placeholder="Full Name" ng-model="editProfile.Name" class="form-control">
	<label>User Name</label>
	<input type="text" placeholder="User Name" ng-model="editProfile.UserName" class="form-control">
	<label>Phone Number</label>
	<input type="tel" placeholder="Phone Number" ng-model="editProfile.PhoneNumber" class="form-control">
	<div class="text-center">
	<a ng-href="#/messageboard" class="btn btn-warning"ng-click="editUser()">Edit Profile</a>
	</div>
</form>
